/*index only*/

.body {
    background-color: rgb(223, 195, 195);
}

.hh {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: blue;
}

.ul {
    font-size: 25px;
    font-weight: bold;
    height: auto;
    text-align: center;

}

/*.flex-one {
    display: flex;
    flex-direction: column;
}*/


.button {
    min-width: 100px;
    border-color: transparent;
    border-radius: .375rem;
    border-width: 1px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;


}

.button--medium {
    padding: .5rem 1rem;
    margin-bottom: 10px;
}

.button--primary {
    --tw-bg-opacity: 1;
    background-color: rgba(99,191,196,var(--tw-bg-opacity));
    --tw-shadow: 0 1px 2px 0 rgba(0,0,0,0.05);
    box-shadow: var(--tw-ring-offset-shadow,0 0 transparent),var(--tw-ring-shadow,0 0 transparent),var(--tw-shadow);
}
/* lo de arriba es solo para index */



/*text for recipies */


#comida {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: blue;
}

.ingredientes {

    font-size: 15px;
    font-weight: bold;
    height: auto;
    text-align: center;
}

.titulos {
    text-align: center;
    font-size: 25px;
    color: blue;
    font-weight: bold;
}

.p{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

.a {
    text-align: center;
    font-size: 25px;
    color: blue;
    font-weight: bold;
    }


    /*images*/

    #image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    #pizza {
        display: block;
        width: 38%;
        height: 38%;
        margin-left: auto;
        margin-right: auto;
    }

    #milanesa{
        display: block;
        width: 38%;
        height: 38%;
        margin-left: auto;
        margin-right: auto;
    }

    #guiso {
        display: block;
        width: 38%;
        height: 38%;
        margin-left: auto;
        margin-right: auto;
    }