.body {
    background-color: rgb(223, 195, 195);
}

.hh {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: blue;
}

.ul {
    font-size: 25px;
    font-weight: bold;
    height: auto;
    text-align: center;

}
/* lo de arriba es solo para index */

#comida {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: blue;
}

.ingredientes {

    font-size: 15px;
    font-weight: bold;
    height: auto;
    text-align: center;
}

.titulos {
    text-align: center;
    font-size: 25px;
    color: blue;
    font-weight: bold;
}

.p{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

.a {
    text-align: center;
    font-size: 25px;
    color: blue;
    font-weight: bold;
    }

    #image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }